.recipe-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.recipe-name {
  flex: 1;
  margin-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.back-button {
  position: absolute;
  top: 20px;
  right: 20px;
}
