.card-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Adapts based on screen size */
  gap: 1rem; /* Space between cards */
}

.card {
  cursor: pointer;
}
